@page
@model PrivacyModel
@{
    ViewData["Title"] = "Inregistreaza animal nou";
}
<h1>@ViewData["Title"]</h1>
<div class="card" style="width:90rem;">
  <div class="card-body">
    <h5 class="card-title">Formular</h5>
     
    <div class="row">
    <div class="col">
        <p>Incarca poza de buletin</p>
      <img src="https://chhattisgarh.mygov.in/sites/default/files/blank_0.jpg" alt="Mare poza" class="rounded-stuff border border-dark" style="margin-top:100px;display: block; margin-left: auto; margin-right: auto;">
   <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:20px;display: block; margin-left: auto; margin-right: auto;text-align:center;">
  <button type="button" class="btn btn-secondary"> <input type="file" class="custom-file-input" id="inputGroupFile03">
    <label class="custom-file-label" for="inputGroupFile03">Choose file</label></button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>

    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
 
